<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
    <% for(key in urls) { %>
    <li><%= key %> - <%= urls[key] %></li>
    <% } %> 
    <a href="dud">Shorten New Url</a>
</body>
</html>