<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
	<% include ./partials/_header.ejs %>
	<center>
		<form action="/urls/<%= url.id %>" method="post">
			<%=url.id%> - <%=url.longURL%> (created: <%=url.birthday%>)
			<input name="updatedURL" type="text" placeholder="http://updated.url.com"><input type="submit" value="update"><br>
			<% if(typeof url_empty !== 'undefined') { %><em>url field left empty<% } %>
		</form>
	</center>
</body>
</html>