<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
	<% include ./partials/_header.ejs %>
	<center>
		<form action="/urls" method="POST">
      <label for="long_url">Enter a URL:</label>
      <input id="long_url" type="text" name="long_url" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit"><br>
      <% if(typeof url_empty !== 'undefined') { %><em>url field left empty<% } %>
    </form>
	</center>
</html>